body{
    background-color:black;
}
/* buttons */
/* src/pages/homepage.css */


.btn-container {
  
    justify-content: center; /* Center the buttons */
    align-items: center; /* Align items vertically */
 
    gap:90px;
    display: flex;
    justify-content: center; /* Center the buttons */
    align-items: center; /* Align items vertically */
    height: 100vh; /* Full viewport height */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
   /* Stack items vertically */
    justify-content: center; /* Center the buttons */
    align-items: center; /* Align items vertically */
    height: 100%; /* Full viewport height */
    flex-wrap: wrap; 
   
}

.lost-btn ,.found-btn {
    width: 290px;
    height: 163px;
    font-weight:900;
   

    background-color: #301E67; /* Deep purple background */
    color: white; /* White text */
    font-family: 'Poppins', sans-serif; /* Poppins font */
    font-size: 32px; /* Large font size */
    padding: 15px 30px; /* Padding for the button */
    border: 2px solid #301E67; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
    margin: 0 10px; /* Space between buttons */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Hover Effects */
 .found-btn:hover {
    background-color: black; /* Change background on hover */
    color: #301E67; /* Change text color on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* Slightly enlarge the button */
}
.lost-btn:hover {
    background-color: black; /* Change background on hover */
    color: #301E67; /* Change text color on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); 
    
}
.question-text {
   
    margin-top:60px;
    color: white; /* White text color for the question */
    font-family: 'Poppins', sans-serif; /* Poppins font */
    font-size: 60px; /* Large font size */
   /* Space below the question text */
    text-align: center; /* Center the text */
}
.button-row {
    display: flex; /* Align buttons in a row */
    justify-content: center; /* Center the buttons */
    gap: 20px; /* Space between buttons */
}
a{
    cursor:pointer;
    text-decoration:none;
    color:#301E67
}
@media (max-width: 768px) {
    .styled-btn {
        font-size: 20px; /* Slightly smaller font size on smaller screens */
        padding: 12px 25px; /* Adjust padding for smaller screens */
    }
    
    .question-text {
        font-size: 24px; /* Adjust question text size for smaller screens */
    }
}

@media (max-width: 480px) {
    .styled-btn {
        font-size: 18px; /* Further reduce font size for very small screens */
        padding: 10px 20px; /* Further adjust padding */
    }
    .question-text {
        font-size: 20px; /* Further adjust question text size */
    }
}